

.login-wrapper{
	background-position:center center;
	background-repeat: no-repeat;
	background-size:auto 100%;
	background-color:#ccc;
	height: 100%;
	overflow:hidden;
	display:flex;
	align-items:center;
}

.submit-btn-wr {
	padding:20rpx;
}

.form-wr{
	color:#fff;
}

.form-wr .uni-input-placeholder{
	color:#fff;
}

.form-wr .uni-column .uni-input{
	border:1px solid #fff;
	border-radius:5px;
	margin:0 20rpx;
}

.form-wr .submit-btn-wr uni-button{
}







